<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:fragment="myheader (title)" th:remove="tag">

    <title th:text="${title}"></title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <!--meta tags for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!--meta tags for anti robots-->
    <meta name="robots" content="noindex" >
    <meta name="robots" content="noindex">

    <!--meta tags for social media-->
    <meta property="og:title" content="Venued.us">
    <meta property="og:type" content="SocialMedia">
    <meta property="og:url" content="https://venued.us">
    <meta property="og:image" content="/imgs/socialMedia.png">

    <meta property="og:description" content=" ">

    <meta name="description" content="">

    <!--custom navbar css-->
    <link rel="stylesheet" href="/css/NavBar.css">
    <link rel="stylesheet" href="/css/">

    <!--custom footer css-->
    <link rel="stylesheet" href="/css/">

    <!--custom global styling for each page-->
    <link rel="stylesheet" href="/css/">

    <script src="/js/"></script>
    <script src="/js/"></script>

  </div>
</head>
<body>
<nav th:fragment="mynav" class="sideBar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="/img/Rodrigo%20Marquez.png" alt="logo">
      </span>

      <div class="text header-text">
        <span class="name">Web Development</span>
<!--        <span class="title">Full Stack</span>-->
      </div>
    </div>
  </header>
</nav>


</body>
</html>