<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:fragment="myheader (title)" th:remove="tag">

    <title th:text="${title}"></title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <!--meta tags for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--meta tags for anti robots-->
    <meta name="robots" content="noindex">

    <!--meta tags for social media-->
    <meta property="og:title" content="Venued.us">
    <meta property="og:type" content="SocialMedia">
    <meta property="og:url" content="https://venued.us">
    <meta property="og:image" content="/imgs/socialMedia.png">

    <meta property="og:description" content=" ">

    <meta name="description" content="">

    <!--custom navbar css-->
    <link rel="stylesheet" href="/css/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <!--custom footer css-->


    <!--custom global styling for each page-->
<!--    <link rel="stylesheet" href="/css/universalStyle.css">-->

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </div>
</head>
<body>
<nav th:fragment="mynav" class="sidebar close">
  <header>
    <div class="image-text">
      <a class="image" th:href="@{/}">
        <img src="/img/Rodrigo%20Marquez.png" alt="logo">
      </a>

      <div class="text logo-text">
        <span class="name">Web Development</span>
<!--        <span class="title">Full Stack</span>-->
      </div>
    </div>

    <i class="bx bx-chevron-right toggle"></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
<!--      <li class="search-box">-->
<!--          <i class="bx bx-search icon"></i>-->
<!--        <input type="search" placeholder="Search">-->
<!--      </li>-->
      <ul class="menu-links">
        <li class="nav-link">
          <a th:href="@{/}">
            <i class="bx bx-home-alt icon"></i>
            <span class="text nav-text">&nbsp;Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a th:href="@{/projects}">
            <i class="bx bx-windows icon"></i>
            <span class="text nav-text">&nbsp;Projects</span>
          </a>
        </li>
        <li class="nav-link">
          <a th:href="@{/resume}">
            <i class="bx bxs-file icon"></i>
            <span class="text nav-text">&nbsp;Resume</span>
          </a>
        </li>
<!--        <li class="nav-link">-->
<!--          <a th:href="@{/}">-->
<!--            <i class='bx bx-id-card icon'></i>-->
<!--            <span class="text nav-text">&nbsp;About Me</span>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-link">
          <a th:href="@{/images}">
            <i class='bx bxs-crop icon'></i>
            <span class="text nav-text">&nbsp;Images</span>
          </a>
        </li>
        <li class="nav-link">
          <a th:href="@{/contactme}">
            <i class='bx bx-dice-6 icon'></i>
            <span class="text nav-text">&nbsp;Contact Me</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">&nbsp;Logout</span>
        </a>
      </li>
      <li class="mode">
        <div class="sun-moon">
          <i class="bx bx-moon icon moon"></i>
          <i class="bx bx-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark Mode</span>

        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>

    </div>
  </div>
</nav>


<nav th:fragment="mobilenav" class="mobileNavBar">
  <div class="mobileNavContainer">
    <ul class="menu-links">
      <li class="nav-link">
        <a th:href="@{/}" th:title="Home">
          <i class="bx bx-home-alt icon"></i>
          <span class="text nav-text"></span>
        </a>
      </li>
      <li class="nav-link">
        <a th:href="@{/projects}" th:title="Projects">
          <i class="bx bx-windows icon"></i>
          <span class="text nav-text"></span>
        </a>
      </li>
      <li class="nav-link">
        <a th:href="@{/resume}" th:title="Resume">
          <i class="bx bxs-file icon"></i>
          <span class="text nav-text"></span>
        </a>
      </li>
      <li class="nav-link">
        <a th:href="@{/images}" th:title="Images">
          <i class='bx bxs-crop icon'></i>
          <span class="text nav-text"></span>
        </a>
      </li>
      <li class="nav-link">
        <a th:href="@{/contactme}" th:title="Contact-Me">
          <i class='bx bx-dice-6 icon'></i>
          <span class="text nav-text"></span>
        </a>
      </li>
    </ul>
<!--    <a class="image" th:href="@{/}">-->
<!--      <img src="/img/Rodrigo%20Marquez.png" alt="logo">-->
<!--    </a>-->
  </div>
</nav>

<script th:fragment="scripts" src="/js/navbar.js"></script>
<script th:fragment="scripts" src="/js/resumeDownload.js"></script>
<script th:fragment="scripts" src="/js/projects.js"></script>
<script th:fragment="scripts" src="/js/contactMe.js"></script>
</body>
</html>