.page-container{
    background-image: url("../img/backgroundWgradient.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-container .column{
    padding: 0;
}
.contact-row{
    position: absolute;
    top: 25px;
}

.contact-form{
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-top: 35px;
    width: 650px;
    border-radius: 5px;
    height: 600px;
}
.message{
    display: flex;
    flex-direction: column;
    align-self: center;
}
/*.contact-row .column{*/
/*    text-align: center;*/
/*}*/

.contact-info-header h1{
    position: absolute;
    right: 332px;
}
.name-email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
}
.name, .email{
    display: grid;
}

.name input, .email input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    width: 14.33rem;
    height: 3rem;
    opacity: .5;
}
#subject{
    height: 200px;
    width: 540px;
    justify-self: center;
    border-radius: 5px;
    opacity: .5;
}
#submit_contact{
    width: 3.33rem;
    height: 2rem;
    align-self: center;
}