.contact-row{
    display: flex;
    justify-content: space-evenly;
}

.contact-form{
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, .5);
    display: grid;
    grid-gap: 1rem;
    padding: 15px;
    /*margin-left: -30px;*/
    width: 50%;
    position: absolute;
    left: -90px;
    top: 55px;
}

.contact-me{
    position: absolute;
    left: -60px;
}
.name-email{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.name, .email{
    display: grid;
}

.name input, .email input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    width: 100%;
}
