body{
    /*background-color: gray;*/
    background-image: url("../img/collage.png");
}
.row{
    display: flex;
    flex-direction: column;
}

.page-container > .row > .column:nth-child(1) {
    background-color: grey;
    max-width: 365px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 75%;
}
.row > .column:nth-child(2) {
    position: absolute;
    top: 190px;
    left: 375px;
}

.myName{
    font-family: BlackBones, sans-serif;
    color: var(--primary-color);
    font-size: 35px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myName span{
    /*font-family: BlackBones, sans-serif;*/
    transition: all 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
    display: block;
    padding: 0 3px;
    cursor: pointer;
}
.myName span:hover{
    transform: scale(1.5);
}

p > span{
    color: var(--primary-color);
    transition: all 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
    cursor: pointer;
}
p > span:hover{
    transform: scale(1.3);
}


.outCircle  {
    width: 200px;
    height: 200px;
    /*background-color: antiquewhite;*/
    opacity: 1;
    left: 270px;
    position: absolute;
    top: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100%;
}



.rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 15s infinite linear;
}

.rotate:hover {
    -webkit-animation-play-state: paused;
}

.counterRotate {
    width: 50px;
    height: 50px;
    -webkit-animation: ccircle 10s infinite linear;
}

.inner {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: 73px;
    top: -21px;
    background: antiquewhite;
    display: block;
    text-align: center;
}
.innerTwo {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: -22px;
    top: 70px;
    background: antiquewhite;
    display: block;
    text-align: center;
}
.innerThree {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: 74px;
    top: 174px;
    background: antiquewhite;
    display: block;
    text-align: center;
}
.innerFour {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: 170px;
    top: 70px;
    background: antiquewhite;
    display: block;
    text-align: center;
}
.github{
    position: absolute;
    top: 12px;
    left: 12px;
}
.linkedin{
    position: absolute;
    top: 16px;
    left: 17px;
}
.gmail{
    position: absolute;
    top: 12px;
    left: 13px;
}
.phone{
    position: absolute;
    top: 15px;
    left: 15px;
}
@-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}

@-webkit-keyframes socials {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}