* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #e8e9f3;*/
    background-image: url("../img/collage.png");
    /*background: rgb(0,90,156);*/
    /*background: linear-gradient(90deg, rgba(0,94,156,1)  0%, rgba(6,137,236,1) 33%, rgba(0,90,156,1) 84%);*/
}
.page-container{
    overflow: hidden;
}
.row {
    display: flex;
    flex-direction: column;
}

.page-container > .row > .column:nth-child(1) {
    background-color: grey;
    max-width: 22.813rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 75%;
}
.row > .column:nth-child(2) {
    position: absolute;
    top: 11.875rem;
    left: 23.438rem;
}

.myName {
    font-family: BlackBones, sans-serif;
    color: var(--primary-color);
    font-size: 2.188rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myName span {
    /*font-family: BlackBones, sans-serif;*/
    transition: all 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
    display: block;
    padding: 0 3px;
    cursor: pointer;
}
.myName span:hover {
    transform: scale(1.5);
}

p > span {
    color: var(--primary-color);
    transition: all 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
    cursor: pointer;
}
p > span:hover {
    transform: scale(1.3);
}


.outCircle {
    width: 200px;
    height: 200px;
    /*background-color: antiquewhite;*/
    opacity: 1;
    left: 270px;
    position: absolute;
    top: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100%;
}



.rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 15s infinite linear;
}

.rotate:hover {
    -webkit-animation-play-state: paused;
}

.counterRotate {
    width: 50px;
    height: 50px;
    -webkit-animation: ccircle 10s infinite linear;
}
.inner, .innerTwo, .innerThree, .innerFour {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    background: #a5acaf;
    display: block;
    text-align: center;
}
.inner {
    left: 73px;
    top: -21px;
}
.innerTwo {
    left: -22px;
    top: 70px;
}
.innerThree {
    left: 74px;
    top: 174px;
}
.innerFour {
    left: 170px;
    top: 70px;
}
.github {
    position: absolute;
    top: 12px;
    left: 12px;
}
.linkedin {
    position: absolute;
    top: 16px;
    left: 17px;
}
.gmail {
    position: absolute;
    top: 12px;
    left: 13px;
}
.phone {
    position: absolute;
    top: 15px;
    left: 15px;
}
@-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}

@-webkit-keyframes socials {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}

.full-stack, .interactive-design, .mobile-development{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    background: var(--primary-color-light);
    opacity: .95;
    position:absolute;
    z-index:1000;
    display: grid;
    grid-template-rows: 75% 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 4px;
}
.full-stack {
    animation:centerMe 3s;
    -webkit-animation:centerMe 3s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;

}
.full-stack:hover, .interactive-design:hover, .mobile-development:hover{
    transform: translate(-100px, -50px);
    transition: all 0.5s;
}
.interactive-design{
    animation:centerMeBlue 3s;
    -webkit-animation:centerMeBlue 3s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
.mobile-development{
    animation:centerMeYellow 3s;
    -webkit-animation:centerMeYellow 3s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
@keyframes centerMeYellow {
    0% {
        left:0;
        top:0;
    }

    100% {
        left: 76%;
        top: 7%;
    }
}

@keyframes centerMeBlue {
    0% {
        left:0;
        top:0;
    }

    100% {
        left: 76%;
        top: 37%;
    }
}

@-webkit-keyframes centerMeBlue {
    0% {
        left:0;
        top:0;
    }

    100% {
        left: 76%;
        top: 37%;
    }
}

@keyframes centerMe  {
    0% {
        left:0;
        top:0;
    }

    100% {
        left: 76%;
        top: 67%;
    }

}

@-webkit-keyframes centerMe  {
    0% {
        left:0;
        top:0;
    }

    100% {
        left: 76%;
        top: 67%;
    }

}
/*.mainParagraph{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.mainParagraph h1,h2,h3{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            var(--primary-color-dark) 0%,
            var(--primary-color) 29%,
            var(--primary-color-light) 67%,
            #a5acaf 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    /*display: inline-block;*/
    /*font-size: 190px;*/
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media screen and (max-width: 450px){
    .mainParagraph{
        padding-bottom: 1em;
    }
    .myName {
        margin-bottom: 15px;
    }
    .row {
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        /*gap: 1rem;*/
        justify-content: center;
        align-items: center;
        /*margin-top: 95px;*/
    }
    .row > .column {
        order: 2;
    }
    .row > .column:nth-child(2) {
        order: 3;
    }
    .row > .column:nth-child(3) {
        order: 1;
    }

    .page-container > .row > .column:nth-child(1) {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        opacity: .95;
        justify-self: center;
        height: 100%;
        padding: 2rem;
        margin-bottom: -2rem;
    }

   .row > .column, .row > .column:nth-child(2), .row > .column:nth-child(3) {
       position: unset;
       display: flex;
       justify-content: space-evenly;
       flex-direction: row;
    }
    .outCircle {
        display: none;
    }
    .linkedin, .github, .gmail, .phone {
        position: unset;
    }
    .full-stack:hover, .interactive-design:hover, .mobile-development:hover {
        transform: none;
        transition: none;
    }
    .full-stack, .interactive-design, .mobile-development {
        animation: none;
        -webkit-animation: none;
        position: unset;
        height: 100px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: shake 0.5s;

        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
    }
    .mobile-development > img, .interactive-design > img, .full-stack > img {
        width: auto;
        height: 2rem;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

}