*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background-color: gray;*/
    background-image: url("../img/collage.png");
}
.row{
    display: flex;
    flex-direction: column;
}
.page-wrapper .page-container .row .column h2 {
    margin-top: 150px;
}

.page-wrapper .page-container .row .column p {
    max-width: 330px;
    height: auto;
}
.page-container > .row > .column:nth-child(1) {
    background-color: grey;
    max-width: 365px;
    height: 100vh;
}
.row > .column:nth-child(2) {
    position: absolute;
    top: 190px;
    left: 375px;
}

.outCircle  {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    left: 270px;
    position: absolute;
    top: 50px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}



.rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 10s infinite linear;

}

.counterRotate {
    width: 50px;
    height: 50px;
    -webkit-animation: ccircle 10s infinite linear;
}

.inner {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: antiquewhite;
    display: block;
    text-align: center;

}
.innerTwo {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    position: absolute;
    left: -20px;
    top: 90px;
    background: antiquewhite;
    display: block;
    text-align: center;
}
.github{
    position: absolute;
    top: 12px;
    left: 12px;
}
.linkedin{
    position: absolute;
    top: 16px;
    left: 17px;
}
@-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}

@-webkit-keyframes socials {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}