*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #2D2D2D;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
}
.sideBar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sideBar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
/*===========SIDEBAR=================*/
.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}
.sideBar li{
    height: 50px;
    background: red;
    list-style: none;
    display: flex;
    align-items: center;

}
.sidebar header{
    position: relative;
}

.sideBar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sideBar header .image-text{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sideBar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: var(--sidebar-color);
}