.page-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 8rem;
    justify-items: center;
    margin-top: 25px;
}

.line-container {
    position: absolute;
    margin-top: 133px;
    margin-left: 65px;
    width: 90%;
    height: 83%;
    text-align: center;
    overflow: hidden;
}
svg {
    display: inline-block;
    height: 100%;
}

.outer-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 350px;
    border-radius: 5%;
    border: 1px solid black;
    background-color: lightgray;
}

.inner-line {
    height: 205px;
    width: 330px;
    border-radius: 3%;
    border: 1px solid black;
    margin-bottom: 25px;
}
.outer-line p{
    align-self: end;
    position: absolute;
    margin-bottom: 5px;
}
.row.first {
}
.row.second{
}
.row.third{
}
.row.fourth{
}
.first .outer-line .inner-line {
    /*background-image: url("../img/coffeeproject.png");*/
    background-size: cover;
    background-repeat: no-repeat;
}
.second .outer-line .inner-line {
    background-image: url("../img/coffeeproject.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.third .outer-line .inner-line {
    background-image: url("../img/movieproject.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.fourth .outer-line .inner-line {
    background-image: url("../img/weatherapp.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.time-line{
    height: 325px;
    width: 182px;
    border-radius: 1%;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.time-line p{
    text-align: center;
    position: absolute;
    top: 220px;
    left: 400px;
}
