* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #a6a4a4;
    --primary-color: #005a9c;
    --primary-color-light: #0689ec;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    /*background: var(--body-color);*/
    transition: var(--tran-05);
    background: rgb(0,90,156);
    background: linear-gradient(90deg, rgba(0,94,156,1)  0%, rgba(6,137,236,1) 33%, rgba(0,90,156,1) 84%);
}

::selection {
    background: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

.page-wrapper {
    height: 100%;
}