<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
  <link rel="stylesheet" href="/css/about-me.css">
</head>
<body>
  <nav th:replace="~{partials/partials :: mynav}"></nav>
  <nav th:replace="~{partials/partials :: mobilenav}"></nav>
  <div class="page-wrapper">
    <div class="page-container">
            <div class="row">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p id="paragraph1">I am an enthusiastic software engineer with a passion for problem-solving and building cloud-native solutions. I have successfully developed and deployed reliable and scalable solutions in Agile environments. My experience includes data-driven architecture, RESTful APIs, SQL, NoSQL, In-memory stores, CI/CD, and GitLab/GitHub.</p>
                    <p  id="paragraph2">My technical skills include HTML, CSS, Bootstrap, JavaScript, TypeScript, Node.js, React, jQuery, Java SE, Java EE (Servlets, JSP), Spring, MySQL, MongoDB, PostgreSQL, Object-Oriented Programming, Test-Driven Development, Version Control with Git, Paired Programming, and LEAN 6Sigma Yellow Belt.</p>
                    <p id="paragraph3">In terms of development projects, I have worked on a web application called "Favorite Movies" that allows users to create a personal list of their favorite movies. Another project, the "Weather Project," is a weather web application that allows users to search for the weather and view a map of any location they enter. I also helped develop "Venued.us," which is built on the Spring framework and is designed to be secure, reliable, and scalable. This application utilizes multiple API's, a mail service, and is written in HTML, CSS, JavaScript, Java, and MySQL. These projects demonstrate my skills in web development, database management, and user experience design.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p id="paragraph4">Before my career in software development, I served in the U.S Army as a Squad Leader for over nine years. During this time, I was accountable for the welfare, fitness, morale, and discipline of 12 to 30 Soldiers. I maintained accurate inventory for $5 million of operating equipment, developed and delivered training programs in preparation for combat deployment, and created and fostered an atmosphere of tolerance and free of harassment, developing a unified and team-driven spirit. Additionally, I was responsible for security and safety of soldiers and equipment during missions while supervising and operating wheeled vehicles and equipment on diverse terrain and roadways.</p>
                    <p id="paragraph5">Aside from my technical and military experience, I also have experience as a Personal Trainer, managing a successful business providing personal training services. I developed and implemented strategies for sales, marketing, and customer service, managed all aspects of the business, including finances, operations, and administration, and developed and maintained relationships with clients, suppliers, and partners. I have demonstrated strong leadership and decision-making skills in order to manage a successful business operation, continuously evaluated and improved the processes and systems of the business to increase efficiency and profitability.</p>
                    <p id="paragraph6">I have a Certification of Completion from Codeup, a fully-immersive, project-based, and intensive 20-week Full-Stack Java Career Accelerator that provides students with 670 hours of expert instruction in software development. I am currently pursuing a degree in Computer Science from the College of Southern Nevada, where I have completed 60 credits. Previously, I was pursuing a degree in Political Science.</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
  <script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>