<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
  <link rel="stylesheet" href="/css/about-me.css">
</head>
<body>
  <nav th:replace="~{partials/partials :: mynav}"></nav>
  <nav th:replace="~{partials/partials :: mobilenav}"></nav>
  <div class="page-wrapper">
    <div class="page-container">
      <p id="aboutMe">About Me</p>
      <div class="row">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p id="paragraph1">I am an enthusiastic software engineer with a passion for problem-solving and building cloud-native solutions. I have successfully developed and deployed reliable and scalable solutions in Agile environments. My experience includes data-driven architecture, RESTful APIs, SQL, NoSQL, In-memory stores, CI/CD, and GitLab/GitHub.</p><br>
                    <p  id="paragraph2">My technical skills include HTML, CSS, Bootstrap, JavaScript, TypeScript, Node.js, React, jQuery, Java SE, Java EE (Servlets, JSP), Spring, MySQL, MongoDB, PostgreSQL, Object-Oriented Programming, Test-Driven Development, Version Control with Git, Paired Programming, and LEAN 6Sigma Yellow Belt.</p><br>
                    <p id="paragraph3">In terms of development projects, I have worked on a web application called "Favorite Movies" that allows users to create a personal list of their favorite movies. Another project, the "Weather Project," is a weather web application that allows users to search for the weather and view a map of any location they enter. I also helped develop "Venued.us," which is built on the Spring framework and is designed to be secure, reliable, and scalable. This application utilizes multiple API's, a mail service, and is written in HTML, CSS, JavaScript, Java, and MySQL. These projects demonstrate my skills in web development, database management, and user experience design.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p id="paragraph4">Before software development, I served in the U.S Army as a Squad Leader for over nine years. I was accountable for the welfare, fitness, morale, & discipline of 15 Soldiers. I maintained accurate inventory for $5 million of equipment, developed & delivered training in preparation for combat deployment. I created & fostered an atmosphere of tolerance free of harassment, developing a unified & team-driven spirit. Additionally, I was responsible for security, & safety of soldiers and equipment during missions while supervising & operating vehicles on diverse terrain & roadways.</p><br>
                    <p id="paragraph5">Aside from technical & military experience, I have experience managing a successful business providing personal training services. I developed & implemented strategies for sales, marketing, and customer service, managed all aspects of the business, including finances, operations, administration, developed & maintained relationships with clients, & partners. I demonstrated strong leadership and decision-making skills in order to manage a successful business operation, continuously evaluated & improved the processes & systems of the business increasing efficiency & profitability.</p><br>
                    <p id="paragraph6">I have a Certification of Completion from Codeup, a fully-immersive, project-based, intensive 20-week Full-Stack Java Career Accelerator that provides students w/ 670 hours of expert instruction in software development. Currently pursuing a degree in Computer Science from the College of Southern Nevada.</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
  <script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>