<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
    <link rel="stylesheet" href="/css/contactme.css">
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="~{partials/partials :: mynav}"></nav>
    <div class="page-container">
        <div class="row contact-row">
            <div class="column">
                <h1 class="contact-me">Contact Me</h1>
                <form class="contact-form" th:action="@{/contactme}" method="post">
                    <div class="name-email">
                        <div class="name">
                            <label class="name-label" for="name">Name:</label>
                            <input class="name-input" type="text" id="name" name="name">
                        </div>
                        <div class="email">
                            <label class="email-label" for="email">Email:</label>
                            <input class="email-label" type="text" id="email" name="email">
                        </div>
                    </div>
                    <div class="name-email">
                        <div class="name">
                            <label class="name-label" for="company-name">Company Name:</label>
                            <input class="name-input" type="text" id="company-name" name="name">
                        </div>
                        <div class="email">
                            <label class="email-label" for="phone-number">Phone Number:</label>
                            <input class="email-label" type="text" id="phone-number" name="phone-number">
                        </div>
                    </div>
                    <div class="message">
                        <label class="message_placeholder" for="subject">Message:</label>
                        <textarea id="subject" name="subject"></textarea>
                        <input id="submit_contact" type="submit" value="Submit">
                    </div>
                </form>
                <div class="row">
                    <p>Social Medias</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>