<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="page-wrapper">
    <div th:replace="~{partials/partials :: mynav}"></div>
    <div class="page-container">
        <div class="row">
            <div class="column">
                <h1>Rodrigo</h1>
                <h2>Full Stack<br>Web Developer</h2>
                <p>As a full stack engineer, my goal is to utilize my technical skills and experience to develop and
                    maintain efficient, high-performing web applications. My background in software development, combined
                    with my military experience, has allowed me to develop a strong ability to quickly learn new technologies
                    and work well under pressure. My skills in web development, database management, and user experience
                    design, as well as my experience with different programming languages such as HTML, CSS, Bootstrap,
                    JavaScript, jQuery, Java SE, Java EE, Spring, MySQL, Object-Oriented Programming and Test-Driven
                    Development, have prepared me to excel in a full stack engineer role. I am excited to use my skills
                    and experience to contribute to the success of a company and to continue to grow as an engineer.</p>
            </div>
            <div class="column">


            </div>
        </div>
    </div>

</div>
</body>
</html>