<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="~{partials/partials :: mynav}"></nav>
    <div class="line-container">
        <svg viewBox="0 0 680 669" fill="none" preserveAspectRatio="xMidYMax meet">
                <path d="M0 3H176V325H335L346 332V451H451V125H475V244L481 253L487 258H670L677 668" stroke="#695CFE" stroke-width="5"/>
        </svg>
    </div>
    <div class="page-container">
            <div class="row first">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                </div>
            </div>
            <div class="row second">
                <div class="outer-line">
                    <div class="inner-line">

                    </div>
                </div>
            </div>
            <div class="row third">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                </div>
            </div>
            <div class="row fourth">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                </div>
            </div>
    </div>
</div>
<script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>