<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="~{partials/partials :: mynav}"></nav>
    <nav th:replace="~{partials/partials :: mobilenav}"></nav>
    <!--    <div class="line-container">-->
<!--        <svg viewBox="0 0 926 626" fill="none">-->
<!--            <path d="M235 3H923V220.747H749.2H749H748.795H748.5H748.342H748.151L747.5 221L746.5 221.5L745.5 222L744.5 222.5L743.5 223L742.5 223.5L741 224.5L740.5 225L740 225.5L739.5 226L739 226.5L738.5 227L738 227.5L737.5 228L737 228.5L736.5 229V230V230.5V231V231.5V461.74L737 463L737.5 464L738 464.5L738.5 465L739 465.5L739.5 466L740 466.5L740.5 467L741 467.5L741.5 468L742 468.5L743 469L744 469.5L745 470L746 470.5H747H748H749H750H752H923V549H3V578H172.5H174L175 578.5L176 579L177 579.5L178 580L179 580.5L180 581L181 582L182 583L183 584L183.5 585L184 586L184.5 587V588V589V590V626" stroke="#695CFE" stroke-width="5"/>-->
<!--        </svg>-->
<!--    </div>-->
    <div class="page-container">
        <p id="projects">Projects</p>
            <div class="row first">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                    <div class="img_overlay">
                        <a href="#" class="text-center showRender">Click for rendered view.</a>
                    </div>
                    <p></p>
                </div>
                <button class="clickForMoreInfo">Click for details</button>
                <dialog id="firstDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>First Six to Twelve Months</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>My journey to becoming a software developer has
                                been a self-guided one, making use of both Udemy
                                and YouTube courses to learn the necessary skills.
                                I have worked hard to understand the
                                fundamentals of coding, software architecture, and
                                design patterns, as well as the tools and
                                technologies used in software development. I have
                                also had the opportunity to apply my knowledge in
                                real-world projects, gaining valuable experience in
                                problem-solving and application development. I
                                am now well-versed in front-end and back-end
                                development, and am eager to make a valuable
                                contribution to any software development team.
                            <div class="personalSocialMediaLogos">
                                <a href="https://github.com/RodrigoM09" target="_blank">
                                    <img src="/img/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>
            <div class="row second">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                    <div class="img_overlay">
                        <a href="https://htmlpreview.github.io/?https://github.com/CoffeeProject-Rodrigo-David/coffee-project/blob/main/index.html" target="_blank" class="text-center showRender">
                            Click for rendered view.
                        </a>
                    </div>
                    <p></p>
                </div>
                <button class="clickForMoreInfo">Click for details</button>
                <dialog id="secondDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Coffee Project</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>Coffee Project.
                            <div class="personalSocialMediaLogos">
                                <a href="https://github.com/RodrigoM09" target="_blank">
                                    <img src="/img/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>
            <div class="row third">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                    <div class="img_overlay">
                        <a href="https://htmlpreview.github.io/?https://github.com/rodrigo-tesfalem-movie-app/movie-app/blob/main/movie-app.html" target="_blank"  class="text-center showRender">Click for rendered view.</a>
                    </div>
                    <p></p>
                </div>
                <button class="clickForMoreInfo">Click for details</button>
                <dialog id="thirdDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Movie Project</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>Movie Project.
                            <div class="personalSocialMediaLogos">
                                <a href="https://github.com/RodrigoM09" target="_blank">
                                    <img src="/img/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>
            <div class="row fourth">
                <div class="outer-line">
                    <div class="inner-line">
                    </div>
                    <div class="img_overlay_second_row">
                        <a href="https://htmlpreview.github.io/?https://github.com/RodrigoM09/codeup-web-exercises/blob/main/html/weather_map.html" target="_blank" class="text-center showRender">Click for rendered view</a>
                    </div>
                    <p></p>
                </div>
                <button class="clickForMoreInfo">Click for details</button>
                <dialog id="fourthDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Weather Project</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>Weather Project using HTML, CSS,<br> and JavaScript.
                            <div class="personalSocialMediaLogos">
                                <a href="https://github.com/RodrigoM09" target="_blank">
                                    <img src="/img/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>
        <div class="row fifth">
            <div class="outer-line">
                <div class="inner-line">
                </div>
                <div class="img_overlay_second_row">
                    <a href="#" class="text-center showRender">Click for rendered view.</a>
                </div>
                <p></p>
            </div>
            <button class="clickForMoreInfo">Click for details</button>
            <dialog id="fifthDialog" class="dialog">
                <div class="dialog-content">
                    <div class="dialog-header">
                        <h2>Movie Project</h2>
                        <button class="close-button" aria-label="Close dialog">X</button>
                    </div>
                    <div class="dialog-body">
                        <p>Movie Project.
                        <div class="personalSocialMediaLogos">
                            <a href="https://github.com/RodrigoM09" target="_blank">
                                <img src="/img/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
            </dialog>
        </div>
        <div class="row sixth">
            <div class="outer-line">
                <div class="inner-line">
                </div>
                <div class="img_overlay_second_row">
                    <a href="https://www.venued.us" target="_blank" class="text-center showRender">Click for rendered view.</a>
                </div>
                <p></p>
            </div>
            <button class="clickForMoreInfo">Click for details</button>
            <dialog id="sixthDialog" class="dialog">
                <div class="dialog-content">
                    <div class="dialog-header">
                        <h2>Final Project</h2>
                        <button class="close-button" aria-label="Close dialog">X</button>
                    </div>
                    <div class="dialog-body">
                        <p>Venued.us is a web application that allows users to search
                            for venues and events in their area. Users can also
                            create an account and save venues and events to their profile.
                            The application was built using Java, Spring Boot, MySQL,
                            and Thymeleaf.
                        <div class="personalSocialMediaLogos">
                            <a href="https://github.com/RodrigoM09" target="_blank">
                                <img src="/img/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
            </dialog>
        </div>
    </div>
</div>
<script th:replace="~{partials/partials :: scripts}"></script>
<script src="/js/projects.js"></script>
</body>
</html>