<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="~{partials/partials :: mynav}"></nav>
    <div class="page-container">
      <div class="row first">
        <div class="outer-line">
            <div class="inner-line">

            </div>
        </div>
      </div>
        <div>
        <div class="time-line">
            <p>These are the words of a mad-man</p>
        </div>
        <div class="row second">
            <div class="outer-line">
                <div class="inner-line">

                </div>
            </div>
        </div>
            <div class="row third">
                <div class="outer-line">
                    <div class="inner-line">

                    </div>
                </div>
            </div>
            <div class="row fourth">
                <div class="outer-line">
                    <div class="inner-line">

                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>