<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

  <div th:replace="~{partials/partials :: myheader('Rodrigo - Full Stack Web Dveloper')}"></div>
  <link rel="stylesheet" href="/css/resume.css">
</head>
<body class="document" id="heading">
<nav th:replace="~{partials/partials :: mynav}"></nav>
<nav th:replace="~{partials/partials :: mobilenav}"></nav>
<main id="resume" class="page" contenteditable="false">
  <div>
    <h1 class="name">Rodrigo Marquez</h1>
    <p>As a full stack engineer, my goal is to utilize my technical skills and experience to develop and maintain efficient, high-performing web applications.
      My background in software development, combined with my military experience, has allowed me to develop a strong ability to quickly learn new technologies
      and work well under pressure. My skills in web development, database management, and user experience design, as well as my experience with
      different programming languages such as HTML, CSS, Bootstrap, JavaScript, jQuery, Java SE, Java EE, Spring, MySQL, Object-Oriented Programming and
      Test-Driven Development, have prepared me to excel in a full stack engineer role. I am excited to use my skills and experience to
      contribute to the success of a company and to continue to grow as an engineer.
    </p>
    <address class="flex show-mobile mini">
      <a href="mailto:Rodrigomarquezjr@outlook.com">Rodrigomarquezjr@outlook.com</a>
      <a href="tel:7025815599">(702)581-5599</a>
      <a href="https://www.linkedin.com/in/rodrigo-nmn-marquez/">LinkedIn</a>
      <a href="https://github.com/RodrigoM09" target="_blank">github/RodrigoM09</a>

    </address>
    <div class="experience">
      <h2>Experience</h2>
      <section class="jobs jobs-one">
        <div class="flex">
          <h3 class="jobs jobs-title">Self-Employed</h3>
          <h4 class ="jobs jobs-date">2020-2022</h4>
        </div>
        <h4 class="duties">Personal Trainer</h4>
        <ul>
          <li>Developed safe, professional, and comprehensive client programs tailored to each individual's goals and needs.</li>
          <li>Successfully acquired and maintained a customer base of 12-15 clients, leveraging both social media and traditional media outlets. </li>
          <li>Created and maintained a business plan which ensured the successful operation of the business.</li>
          <li>Through this, I have been able to increase my client base by 25% and have achieved a 92% client retention rate over the last two years.</li>
        </ul>
      </section>
      <section class="jobs jobs-two">
        <div class="flex">
          <h3 class="jobs jobs-title">LifeTime Fitness</h3>
          <h4 class ="jobs jobs-date">2018 - 2020</h4>
        </div>
        <h4 class="duties">Personal Trainer</h4>
        <ul>
          <li>Develop safe, professional, and comprehensive client programs that drive client goal achievement and retention.</li>
          <li>Conducts fitness consultations for new clients including pre-participation screening, Medical History, Lifestyle questionnaire, and goal setting to assess and recommend personal training programs</li>
          <li>Ensures all members feel competent, confident, and connected by providing superior customer service through complimentary and based services/programming</li>
          <li>Also maintained and increased education to be a better trainer, which included attending workshops and conferences, increasing knowledge of training methods and nutrition, and participating in continuing education courses. </li>
          <li>Maintained a client base of at least 15 clients, with a monthly average of 9,000 in revenue. </li>
        </ul>
      </section>
      <section id="24hr" class="jobs jobs-two">
        <div class="flex">
          <h3 class="jobs jobs-title">U.S Army</h3>
          <h4 class ="jobs jobs-date">2009 - 2018</h4>
        </div>
        <h4 class="duties">Squad Leader</h4>
        <ul>
          <li>Managed a squad of 13 personnel, setting and enforcing standards of professional conduct while providing guidance and mentorship.</li>
          <li>Oversaw maintenance, storage, and operation of over $5 million worth of military equipment.</li>
          <li>Implemented and enforced supply logistics and data pertaining to unit supplies.</li>
          <li>Operated all wheel vehicles and equipment over varied terrain and roadways, ensuring safety of personnel and cargo.</li>
          <li>Conducted convoy defense techniques, identifying and correcting vehicle deficiencies.</li>
        </ul>
      </section>
      <div class="flex show-mobile mini">
        <div>
          <h2>Programming Languages</h2>
          <ol class="noIdentifier">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Jquery</li>
            <li>Java</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Spring Boot</li>
          </ol>
        </div>
        <div>
          <h2>Education and Certifications</h2>
          <ol class="noIdentifier">
            <li>CodeUp Graduate</li>
            <li>Warrior Leadership Course</li>
            <li>Certified Veteran Fitness Operative</li>
            <li>Certified Personal Trainer</li>
          </ol>
        </div>
        <div>
          <h2>Additional Skills</h2>
          <ol class="noIdentifier">
            <li>Fluent in Spanish</li>
            <li>Fluent in Portuguese</li>
          </ol>
        </div>
        <div>
          <h2>Additional Links</h2>
          <ol class="noIdentifier">
<!--            <li><a href="../HTML/Resume-main-page.html" rel="import">JS Resume</a></li>-->
            <li onclick="window.print();return false;"><a href="">Print Resume</a></li>
          </ol>
        </div>

      </div>

    </div>
  </div>
  <aside>
    <div class="hide-mobile">
      <a href="tel:7025815599">(702)581-5599</a>
      <a href="mailto:Rodrigomarquezjr@outlook.com">Rodrigomarquezjr@outlook.com</a>
      <a href="https://www.linkedin.com/in/rodrigo-nmn-marquez/" target="_blank">LinkedIn</a>
      <a href="https://github.com/RodrigoM09" target="_blank">GitHub</a>
    </div>
    <div class="hide-mobile">
      <h2>Programming Languages</h2>
      <ol class="noIdentifier">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Jquery</li>
        <li>Java</li>
        <li>MySQL</li>
        <li>Spring Boot</li>
      </ol>
      <div class="hide-mobile">
        <h2>Education and Certifications</h2>
        <ol class="noIdentifier">
          <li><a href="https://codeup.com/">CodeUp Full Stack Course</a></li>
          <li>Warrior Leadership Course</li>
          <li>Certified Veteran Fitness Operative</li>
          <li>Certified Personal Trainer</li>
        </ol>
      </div>
      <div>
        <h2>Additional Skills</h2>
        <ol class="noIdentifier">
          <li>Fluent in Spanish</li>
          <li>Fluent in Portuguese</li>
        </ol>
      </div>
      <div class="hide-mobile">
        <h2>Additional Links</h2>
        <ol class="noIdentifier">
          <li class="printLink"><a href="" onclick="downloadPDF()">Print/Download Resume</a></li>
        </ol>
      </div>

    </div>
  </aside>
</main>
<script th:replace="~{partials/partials :: scripts}"></script>
</body>
</html>